 .btn-default.disabled:hover,
 .btn-default[disabled]:hover,
 .btn-label input[disabled] + .btn-default {
   color: #afafb3;background-color: rgba(237, 237, 242, 0.9);cursor: default;
 }
 .btn-inverted.disabled:hover,
 .btn-inverted[disabled]:hover,
 .btn-label input[disabled] + .btn-inverted {
   color: #e1e1e5;background-color: #afafb3;cursor: default;
 }
 .btn-transparent-default.disabled:hover,
 .btn-transparent-default[disabled]:hover,
 .btn-label input[disabled] + .btn-transparent-default {
   color: rgba(75, 75, 77, 0.3);border-color: rgba(75, 75, 77, 0.3);cursor: default;
 }
 .btn-transparent-inverted.disabled:hover,
 .btn-transparent-inverted[disabled]:hover,
 .btn-label input[disabled] + .btn-transparent-inverted {
   color: rgba(255, 255, 255, 0.3);border-color: rgba(255, 255, 255, 0.3);cursor: default;
 }
 .btn-green.disabled:hover,
 .btn-green[disabled]:hover,
 .btn-label input[disabled] + .btn-green {
   color: #ffffff;background-color: #d2efd5;cursor: default;
 }
 .btn-label input[disabled] + .btn-toggle {
   background: #d4d4d9;color: #afafb3;
 }
 .btn.svs-keyboard-focus {
   outline: none;
   box-shadow: 0 0 0 2px #4285F4;
 }
 .btn {
   background-clip: border-box;
   display: inline-block;
   padding: 0 16px;
   height: 40px;
   font-size: 12px;
   line-height: 12px;
   text-align: center;
   vertical-align: middle;
   border: none;
   -webkit-appearance: none;
   border-top-left-radius: 800px;
   border-bottom-left-radius: 800px;
   border-top-right-radius: 800px;
   border-bottom-right-radius: 800px;
   -webkit-border-radius: 800px;
   -webkit-background-clip: padding-box;
   -moz-border-radius: 800px;
   -moz-background-clip: padding;
   border-radius: 800px;
   background-clip: padding-box;
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   font-weight: bold;
 }
 .btn .icon.icon-default {
   color: inherit;
 }
 /* stylelint-disable selector-no-qualifying-type */
 a.btn {
   display: inline-table;
 }
 a.btn .btn-link-text {
   display: table-cell;
   vertical-align: middle;
   height: 100%;
 }
 a.btn-block {
   display: table;
 }
 /* stylelint-enable */
 .btn-circle.btn-90 {
   padding: 0;
   height: 28px;
   width: 28px;
   border-top-left-radius: 60px;
   border-bottom-left-radius: 60px;
   border-top-right-radius: 60px;
   border-bottom-right-radius: 60px;
   -webkit-border-radius: 60px;
   -webkit-background-clip: padding-box;
   -moz-border-radius: 60px;
   -moz-background-clip: padding;
   border-radius: 60px;
   background-clip: padding-box;
 }
 .btn-circle.btn-100 {
   padding: 0;
   height: 32px;
   width: 32px;
   border-top-left-radius: 60px;
   border-bottom-left-radius: 60px;
   border-top-right-radius: 60px;
   border-bottom-right-radius: 60px;
   -webkit-border-radius: 60px;
   -webkit-background-clip: padding-box;
   -moz-border-radius: 60px;
   -moz-background-clip: padding;
   border-radius: 60px;
   background-clip: padding-box;
 }
 .btn-circle.btn-300 {
   padding: 0;
   height: 40px;
   width: 40px;
   border-top-left-radius: 60px;
   border-bottom-left-radius: 60px;
   border-top-right-radius: 60px;
   border-bottom-right-radius: 60px;
   -webkit-border-radius: 60px;
   -webkit-background-clip: padding-box;
   -moz-border-radius: 60px;
   -moz-background-clip: padding;
   border-radius: 60px;
   background-clip: padding-box;
 }
 .btn-90 {
   height: 28px;
   padding: 0 6px;
   font-size: 10px;
 }
 .btn-100 {
   height: 32px;
   padding: 0 18px;
   font-size: 11px;
 }
 .btn.btn-transparent-inverted,
 .btn.btn-transparent-default,
 .btn-90.btn-transparent-inverted,
 .btn-90.btn-transparent-default,
 .btn-100.btn-transparent-inverted,
 .btn-100.btn-transparent-default,
 .btn-300.btn-transparent-inverted,
 .btn-300.btn-transparent-default,
 .btn-350.btn-transparent-inverted,
 .btn-350.btn-transparent-default {
   border-width: 2px;
   border-style: solid;
 }
 .btn.btn-transparent-inverted.btn-block,
 .btn.btn-transparent-default.btn-block,
 .btn-90.btn-transparent-inverted.btn-block,
 .btn-90.btn-transparent-default.btn-block,
 .btn-100.btn-transparent-inverted.btn-block,
 .btn-100.btn-transparent-default.btn-block,
 .btn-300.btn-transparent-inverted.btn-block,
 .btn-300.btn-transparent-default.btn-block,
 .btn-350.btn-transparent-inverted.btn-block,
 .btn-350.btn-transparent-default.btn-block {
   padding-left: 3px;
   padding-right: 3px;
 }
 .btn-block,
 .btn-bet-full-width {
   display: block;
   width: 100%;
   padding-right: 0;
   padding-left: 0;
 }
 .btn-inverted.btn-double-lines,
 .btn-default.btn-double-lines,
 .btn-transparent-default.btn-double-lines,
 .btn-green.btn-double-lines {
   padding: 0 16px;
   line-height: 13px;
 }
 .btn-transparent-default.btn-double-lines,
 .btn-transparent-inverted.btn-double-lines {
   padding: 0 16px;
   line-height: 13px;
 }
 .btn-default {
   color: #4b4b4d;
   background-color: #fafaff;
 }
 .btn-default.disabled,
 .btn-default[disabled],
 .btn-default.disabled:hover,
 .btn-default[disabled]:hover,
 .btn-label input[disabled] + .btn-default {
   color: #afafb3;
   background-color: rgba(237, 237, 242, 0.9);
   cursor: default;
 }
 .btn-inverted {
   color: #ffffff;
   background-color: #4b4b4d;
 }
 .btn-inverted.disabled,
 .btn-inverted[disabled],
 .btn-inverted.disabled:hover,
 .btn-inverted[disabled]:hover,
 .btn-label input[disabled] + .btn-inverted {
   color: #e1e1e5;
   background-color: #afafb3;
   cursor: default;
 }
 .btn-transparent-default {
   color: rgba(75, 75, 77, 0.8);
   background-color: transparent;
   border-color: rgba(75, 75, 77, 0.8);
   padding: 0 14px;
 }
 .btn-transparent-default.disabled,
 .btn-transparent-default[disabled],
 .btn-transparent-default.disabled:hover,
 .btn-transparent-default[disabled]:hover,
 .btn-label input[disabled] + .btn-transparent-default {
   color: rgba(75, 75, 77, 0.3);
   border-color: rgba(75, 75, 77, 0.3);
   cursor: default;
 }
 .btn-transparent-inverted {
   color: rgba(255, 255, 255, 0.9);
   background-color: transparent;
   border-color: rgba(255, 255, 255, 0.9);
 }
 .btn-transparent-inverted.disabled,
 .btn-transparent-inverted[disabled],
 .btn-transparent-inverted.disabled:hover,
 .btn-transparent-inverted[disabled]:hover,
 .btn-label input[disabled] + .btn-transparent-inverted {
   color: rgba(255, 255, 255, 0.3);
   border-color: rgba(255, 255, 255, 0.3);
   cursor: default;
 }
 .btn-green {
   color: #ffffff;
   background-color: #0bad20;
 }
 .btn-green.disabled,
 .btn-green[disabled],
 .btn-green.disabled:hover,
 .btn-green[disabled]:hover,
 .btn-label input[disabled] + .btn-green {
   color: #ffffff;
   background-color: #d2efd5;
   cursor: default;
 }
 .btn-icon .icon.icon-default {
   display: inline-block;
   vertical-align: middle;
 }
 .btn-icon.btn-90 .icon.icon-default,
 .btn-icon.btn-100 .icon.icon-default {
   margin: -2px 3px 0 -6px;
   font-size: 13px;
   line-height: 13px;
 }
 .btn-icon.btn-300 .icon.icon-default {
   margin: -3px 3px 0 -2px;
   font-size: 15px;
   line-height: 15px;
 }
 .btn-100.btn-icon-left .icon.icon-default {
   float: left;
   margin: -2px 6px 0 0;
   font-size: 13px;
   line-height: 13px;
 }
 .btn-100.btn-icon-left.btn-block {
   position: relative;
 }
 .btn-100.btn-icon-left.btn-block .icon.icon-default {
   position: absolute;
   left: 12px;
   top: 10px;
 }
 .btn-300.btn-icon-left .icon.icon-default {
   float: left;
   margin: -2px 6px 0 0;
   font-size: 15px;
   line-height: 12px;
 }
 .btn-300.btn-icon-left.btn-block {
   position: relative;
 }
 .btn-300.btn-icon-left.btn-block .icon.icon-default {
   position: absolute;
   left: 12px;
   top: 14px;
 }
 .btn-90.btn-icon-right .icon.icon-default {
   float: right;
   margin: 0 0 0 6px;
   font-size: 13px;
   line-height: 13px;
 }
 .btn-90.btn-icon-right.btn-block {
   position: relative;
 }
 .btn-90.btn-icon-right.btn-block .icon.icon-default {
   position: absolute;
   right: 12px;
   top: 10px;
 }
 .btn-100.btn-icon-right .icon.icon-default {
   float: right;
   margin: -2px 0 0 6px;
   font-size: 13px;
   line-height: 13px;
 }
 .btn-100.btn-icon-right.btn-block {
   position: relative;
 }
 .btn-100.btn-icon-right.btn-block .icon.icon-default {
   position: absolute;
   right: 12px;
   top: 10px;
 }
 .btn-300.btn-icon-right .icon.icon-default {
   float: right;
   margin: -2px 0 0 6px;
   font-size: 15px;
   line-height: 12px;
 }
 .btn-300.btn-icon-right.btn-block {
   position: relative;
 }
 .btn-300.btn-icon-right.btn-block .icon.icon-default {
   position: absolute;
   right: 12px;
   top: 14px;
 }
 .btn-90.btn-icon-center .icon.icon-default,
 .btn-100.btn-icon-center .icon.icon-default,
 .btn-300.btn-icon-center .icon.icon-default,
 .btn-350.btn-icon-center .icon.icon-default {
   padding: 0;
   margin: 0 0 0 1px;
 }
 .btn-circle.btn-transparent-default,
 .btn-circle.btn-transparent-inverted {
   padding: 0;
 }
 input:focus.svs-keyboard-focus + .btn {
   outline: thin dotted #333;
   outline: 5px auto -webkit-focus-ring-color;
   outline-offset: -2px;
 }
 input:focus.svs-keyboard-focus + .btn-toggle {
   outline: thin dotted #333;
   outline: 5px auto -webkit-focus-ring-color;
   outline-offset: -2px;
 }
 .btn-label > * {
   pointer-events: none;
 }
 .btn-clean,
 .btn.btn-clean:hover,
 .btn.btn-clean:active {
   height: 30px;
   padding: 0;
   margin: 0;
   background: transparent;
   border: 0;
   -moz-box-shadow: none 1px 2px 0 rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: none 1px 2px 0 rgba(0, 0, 0, 0.3);
   box-shadow: none 1px 2px 0 rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   text-shadow: none;
 }
 .btn-toggle {
   background-clip: border-box;
   display: inline-block;
   padding: 0 16px;
   height: 40px;
   font-size: 12px;
   line-height: 12px;
   text-align: center;
   vertical-align: middle;
   border: none;
   -webkit-appearance: none;
   border-top-left-radius: 800px;
   border-bottom-left-radius: 800px;
   border-top-right-radius: 800px;
   border-bottom-right-radius: 800px;
   -webkit-border-radius: 800px;
   -moz-border-radius: 800px;
   border-radius: 800px;
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   font-weight: bold;
   padding: 12px;
   border: 2px solid #646466;
   background: #e1e1e5;
   color: #4b4b4d;
   border-top-left-radius: 2px;
   border-bottom-left-radius: 2px;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   -webkit-border-radius: 2px;
   -webkit-background-clip: padding-box;
   -moz-border-radius: 2px;
   -moz-background-clip: padding;
   border-radius: 2px;
   background-clip: padding-box;
 }
 .btn-toggle.svs-keyboard-focus {
   outline: none;
   box-shadow: 0 0 0 2px #4285F4;
 }
 .btn-toggle .icon.icon-default {
   color: inherit;
 }
 .btn-toggle.svs-keyboard-focus {
   outline: none;
   box-shadow: 0 0 0 2px #4285F4;
 }
 .btn-toggle .icon.icon-default {
   color: inherit;
 }
 input:checked + .btn-toggle {
   background: #0bad20;
   border-color: #0bad20;
 }
 .btn-toggle-100 {
   width: 20px;
   min-width: 20px;
   height: 20px;
   padding: 0;
   margin: 0;
   background: #ffffff;
 }
 .btn-toggle-300 {
   min-width: 85px;
   padding: 0;
   height: 30px;
   line-height: 28px;
   border: 0;
 }
 /* stylelint-disable selector-no-qualifying-type */
 input[type="radio"] + .btn-toggle-100 {
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   -webkit-border-radius: 10px;
   -webkit-background-clip: padding-box;
   -moz-border-radius: 10px;
   -moz-background-clip: padding;
   border-radius: 10px;
   background-clip: padding-box;
 }
 input[type="radio"]:checked + .btn-toggle-100 {
   background: #ffffff;
   border: 5px solid #0bad20;
 }
 /* stylelint-enable */
 .btn-toggle-checkmark {
   font-family: 'ui-icon';
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   position: relative;
   z-index: 2;
   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 /* stylelint-disable selector-no-qualifying-type, selector-max-specificity */
 .btn-toggle-checkmark:before,
 input[type="radio"] + .btn-toggle-100:before {
   content: "";
   position: absolute;
   top: -75%;
   left: -75%;
   width: 250%;
   height: 250%;
   border-radius: 50%;
   background: #0bad20;
   visibility: hidden;
   opacity: 0;
   z-index: 1;
   -webkit-transition-property: visibility, opacity, transform;
   -moz-transition-property: visibility, opacity, transform;
   -o-transition-property: visibility, opacity, transform;
   transition-property: visibility, opacity, transform;
   -webkit-transition-property: visibility, opacity, -webkit-transform;
   -moz-transition-property: visibility, opacity, -moz-transform;
   -o-transition-property: visibility, opacity, -o-transform;
   transition-property: visibility, opacity,-webkit-transform,-moz-transform,-o-transform,transform;
   -webkit-transition-duration: 800ms;
   -moz-transition-duration: 800ms;
   -o-transition-duration: 800ms;
   transition-duration: 800ms;
   -webkit-transition-delay: 0, 0, 800ms;
   -moz-transition-delay: 0, 0, 800ms;
   -o-transition-delay: 0, 0, 800ms;
   transition-delay: 0, 0, 800ms;
   -webkit-transform: scale(0.4);
   -moz-transform: scale(0.4);
   -ms-transform: scale(0.4);
   -o-transform: scale(0.4);
   transform: scale(0.4);
 }
 label:active .btn-toggle-checkmark:before,
 label:active input[type="radio"] + .btn-toggle-100:before {
   visibility: visible;
   opacity: .12;
   -webkit-transition-duration: 200ms;
   -moz-transition-duration: 200ms;
   -o-transition-duration: 200ms;
   transition-duration: 200ms;
   -webkit-transition-delay: 0, 0, 0;
   -moz-transition-delay: 0, 0, 0;
   -o-transition-delay: 0, 0, 0;
   transition-delay: 0, 0, 0;
   -webkit-transition-delay: 0s, 0s, 0s;
   -moz-transition-delay: 0s, 0s, 0s;
   -o-transition-delay: 0s, 0s, 0s;
   transition-delay: 0s, 0s, 0s;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
   transform: scale(1);
 }
 /* stylelint-enable */
 .btn-toggle-checkmark:after {
   line-height: 16px;
   content: '';
   z-index: 3;
 }
 input:checked + .btn-toggle-checkmark:after {
   color: #ffffff;
 }
 input:checked + .btn-toggle-checkmark:after {
   content: '\f10d';
 }
 .btn-toggle-on-btn {
   position: absolute;
   right: 6px;
   top: 6px;
 }
 .btn-label {
   display: inline-block;
   position: relative;
   cursor: pointer;
   line-height: 1;
 }
 .btn-label input {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 0;
   z-index: -1;
 }
 .btn-label input[disabled] + .btn,
 .btn-label input[disabled] + .btn-toggle {
   background: #d4d4d9;
   color: #afafb3;
 }
 .btn-label input:checked + .btn {
   background: #0bad20;
   color: #ffffff;
 }
