@import url('button.css');
body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande", "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  color: #293c4b;
  background: #fcd124;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: 160px 3fr;
}

.header {
  display: grid;
  grid-template-rows: 45px 90px 25px;
}

.header-container {
  display: grid;
  align-items: center;
  justify-content: center;
  background: #ffe600;
}

.nav-container {
  display: grid;
  width: 100%;
  background: #252526;
  justify-content: center;
}

.nav-items {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 100%;
  max-width: 1357px;
}

.nav-items a {
  display: grid;
  padding: 0 12px;
  text-decoration: none;
  font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  text-align: center;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  align-items: center;
  transition: all 0.1s linear;
}

.nav-items a.active {
  border-top: 4px solid #e60000;
}

.nav-items a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.boards {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 1fr);
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 32px);
  grid-template-rows: repeat(7, 32px);
  justify-content: space-evenly;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  padding: 2%;
  background: rgba(0,0,0,0);
  transition: all 0.3s ease-in;
}

.board.isValid {
  background: #fac000;
}

.ball {
  display: grid;
  align-content: center;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 400;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: all 0.1s;
}

.board-number {
  background: #FFF;
  align-content: center;
  text-align: center;
  border-radius: 50%;
  color: #e60000;
  height: 40px;
  width: 40px;
  line-height: 42px;
  padding: 0;
  vertical-align: center;
  font-size: 18px;
  font-weight: 400;
  font-family: Arial, sans-serif;
}

.ball:hover {
  transform: scale(1.05);
  background-color: #ffe600;
}

.ball.is-checked {
  background: #e60000;
  color: #fff;
}

.keno-header {
  padding: 5px 0;
  color: #e60000;
  margin: 0;
  border-bottom: 1px solid #e60000;
  display: grid;
  align-content: end;
}

.keno-header>p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  line-height: 32px;
}

.game-info {
  display: grid;
  color: #e60000;
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  background: #ffe600;
  border-top: 1px solid #fbd243;
  align-content: center;
}

.board-container {
  border-right: 1px solid #fbe64d;
  border-bottom: 1px solid #fbe64d;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  padding: 12px 24px;
}

.board-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  align-self: center;
}

.content {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.win-plan {
  background: rgba(0, 0, 0, 0.2);
  padding: 24px;
}

.win-plan-table {
  margin-top: 50px;
  font-size: 12px;
}

.win-plan-table-header {
  padding: 10px 20px;
  text-align: center;
  background: #e1e1e5;
  border-bottom: 1px solid #afafb3;
}

.win-plan-table-body {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
  grid-row-gap: 5px;
  padding: 10px 20px;
  background: #FFF;
  font-weight: 400;
  font-size: 12px;
}

.win-plan-table-footer {
  padding: 10px 20px;
  text-align: center;
  background: #e1e1e5;
  border-top: 1px solid #afafb3;
  font-weight: 400;
  font-size: 12px;
}

.win-plan-table-header>p {
  font-weight: 700;
  margin: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear-fix {
  clear: both;
}

.f-right {
  text-align: right;
}